@font-face {
  font-family: 'PingFang';
  font-style: ultralight;
  font-weight: 100;
  src: local('PingFang'), url('~/assets/fonts/PingFang-Ultralight.ttf') format('opentype');
}
@font-face {
  font-family: 'PingFang';
  font-style: thin;
  font-weight: 200;
  src: local('PingFang'), url('~/assets/fonts/PingFang-Thin.ttf') format('opentype');
}
@font-face {
  font-family: 'PingFang';
  font-style: light;
  font-weight: 300;
  src: local('PingFang'), url('~/assets/fonts/PingFang-Light.ttf') format('opentype');
}
@font-face {
  font-family: 'PingFang';
  font-style: regular;
  font-weight: 400;
  src: local('PingFang'), url('~/assets/fonts/PingFang-Regular.ttf') format('opentype');
}
@font-face {
  font-family: 'PingFang';
  font-style: medium;
  font-weight: 500;
  src: local('PingFang'), url('~/assets/fonts/PingFang-Medium.ttf') format('opentype');
}
@font-face {
  font-family: 'PingFang';
  font-style: demibold;
  font-weight: 600;
  src: local('PingFang'), url('~/assets/fonts/PingFang-Semibold.ttf') format('opentype');
}
